# 开启源码调试：source_debug=true
# 关闭源码调试：source_debug=false
source_debug=true

# 重构SDK工程路径
sdk_project_path="/Users/wesleylei/Documents/restructure_project/lite-base/src"
# depot_tools路径
depot_tools_path="/Users/wesleylei/Documents/restructure_project/lite-base/depot_tools"

#******************TXLiteAVSDK_Professional******************
# target_framework ipa使用的动态库名称
target_framework=TXLiteAVSDK_Professional
# 生成 target_framework 库的 target
build_target=txliteavsdk_professional_static_framework

#******************TXLiteAVSDK_Smart_No_VOD******************
# target_framework ipa使用的动态库名称
# target_framework=TXLiteAVSDK_Smart_No_VOD
# 生成 target_framework 库的 target
# build_target=txliteavsdk_smart_no_vod_static_framework

